.container__bottom{
    background-color: #A149FA;
    position: relative;
    padding-left : 600px;
    padding-top : 10px;
    padding-bottom : 10px;
}

.container{
    width: 90%;
    padding : 30px;
    margin: 50px;
    box-shadow: -1px 6px 18px 4px rgba(9,6,1,1);
    -webkit-box-shadow: -1px 6px 18px 4px rgba(9,6,1,1);
    -moz-box-shadow: -1px 6px 18px 4px rgba(9,6,1,1);
}